section#preface.slide.intro
	h1 Peeeeyaahhhhhhhhh!
	a( href="http://upfront_deckshare.nodester.com" ) upfront_deckshare.nodester.com

section#howie-d.slide.media
	article.video
		div#howieVid
			//-iframe( width="100%", height="100%", src="http://www.youtube.com/embed/g1ycCFVKSg4?autoplay=1#t=20s", frameborder="0", allowfullscreen )

section#helloNode.slide.logo2
	h1 Hello, my <br/>name is...

section#helloNode-evented.slide
	h2 Hello, my name is...
	h3 Evented Server
	ul
		li.slide Current version: 0.6.3 (stable)
		li.slide V8 implementation
		li.slide Node is nearly non-blocking through callbacks

section#helloNode-evented-example.slide
	h2 Evented = Callback City
	article.slide
		script( src="https://gist.github.com/1413886.js?file=jquery-callback.js" )

	article.slide
		script( src="https://gist.github.com/1414059.js?file=file-list.js" )
		
section#helloNode-install.slide	
	h2 Hello, I make it easy to...
	ul
		li nvm now, thank yourself later ( #{ "ruby guys know what's up" } )
		li Package files for easy dependency tracking
		li So I've looked at the server example.  Now what?

section#helloNode-module.slide
	h2 Modules
	article
		script(	src="https://gist.github.com/1414127.js?file=module-example.js" )
		script(	src="https://gist.github.com/1417083.js?file=maths-example.js" )

section#helloNode.slide.logo2
	h1 Tools for Success

section#tools-express.slide
	h2 Tools for Success
	h3 Express Yourself
	div#tools-express-features.slide
		h4 Features
		ul.features
			li Robust routing
			li Redirection helpers
			li Dynamic view helpers
			li Content negotiation
			li Focus on high performance
			li View rendering and partials support
		ul.features
			li Environment based configuration
			li Session based flash notifications
			li Built on Connect
			li High test coverage
			li Executable for generating applications quickly
			li Application level view options

section#tools-express-routes.slide
	h2 Tools for Success
	h3 Express Routes Example
	script( src="https://gist.github.com/1414413.js?file=routes.js" )

section#tools-templates.slide
	h2 Tools for Success
	h3 Template Engines
	ul
		li ejs
		li jade
		li handlebars
		li {{ mustache }}
		li ... the list goes on

section#tools-templates-jade.slide
	h2 Tools for Success
	h3 Template Engines: I'm Jaded
	ul.features( style="margin-right:5em" )
		li client-side support
		li great readability
		li flexible indentation
		li block-expansion
		li mixins
		li static includes
		li attribute interpolation
		li contextual error reporting at compile & run time
		li executable for compiling jade templates via the command line
	ul.features
		li optional memory caching
		li combine dynamic and static tag classes
		li parse tree manipulation via filters
		li template inheritance
		li supports Express JS out of the box
		li transparent iteration over objects, arrays, and even non-enumerables via each
		li block comments
		li no tag prefix
		li filters
			ul
				li=":stylus, :sass, :less, :markdown, :cdata, :coffeescript"

section#tools-stylus.slide
	h2 Tools for Success
	h3 Stylus
	p.slide Expressive dynamic robust CSS
	p.slide Flexible markup that is clean
	p.slide NIB Framework

section#tools-sockets.slide
	h2 Tools for Success
	h3 Socket to me
	p.slide Real-time, two-way connection to the server-side
	p.slide	Enables single-page apps without dealing with $.ajax
	p.slide	It's all about routes and callbacks	

section#tools-services.slide
	h2 Tools for Success
	h3 Beyond the front-end
	articles.features.slide
		h4 Servers
		ul
			li Nodester (free!)
			li Heroku (free!)
			li Joyent (free!)
			li Nodejitsu (not open yet)
	articles.features.slide
		h4 Database
		ul
			li iriscouch.com (Free CouchDB)
			li cloudant.com (Free CouchDB)

section#why.slide
	h2 Why use Node when I've got &lt;language&gt;
	p.slide	Node: I'm so excited I think I just wet myself a little.
	p.slide	Heavy data processing
	p.slide	Feed users processed data

section#complete.slide
	h2 Useful Links
	article.features.serverside
		h3 Server-side
		ul
			li: a( class="external", href="https://github.com/joyent/node/wiki/Community" ) Node Community
			li: a( class="external", href="https://github.com/creationix/nvm" ) NVM (Node Version Manager)
			li: a( class="external", href="http://search.npmjs.org/" ) NPM (Node Package Manager)
			li: a( class="external", href="http://expressjs.com/") Express (framework)
			li: a( class="external", href="http://socket.io/" ) Socket.io (sockets)
	article.features.services
		h3 Services
		ul
			li: a( class="external", href="http://nodester.com/" ) nodester.com (Free node host)
			li: a( class="external", href="http://www.heroku.com/" ) heroku.com (Free node host)
			li: a( class="external", href="http://nodejitsu.com/" ) nodejitsu.com (Not free)
			li: a( class="external", href="http://www.iriscouch.com/" ) iriscouch.com (Free CouchDB)
			li: a( class="external", href="https://cloudant.com" ) cloudant.com (Free CouchDB)
	article.features.thanks
		h3 Thanks
		ul
			li: a( class="extrnal", href="http://imakewebthings.github.com/deck.js", title="Modern HTML Presentations" ) Deck.js
			li: a( class="external", href="http://www.meetup.com/upfront/" ) UpFront
			li: a( class="external", href="http://www.dhs.com/" ) Riverpoint
			li: a( class="external", href="http://www.vml.com" ) VML
	article.features.client-side
		h3 Client-side
		ul
			li: a( class="external", href="http://jade-lang.com/" ) Jade (templating)
			li: a( class="external", href="http://learnboost.github.com/stylus/" ) Stylus (css)
			li: a( class="external", href="http://visionmedia.github.com/nib/" ) Nib (css framework)
	article.features.in-the-wild
		h3 Node in the Real World
		ul
			li: a( class="extrnal", href="http://venturebeat.com/2011/08/16/linkedin-node/" ) How LinkedIn used Node.js and HTML5 to build a better, faster app
			li: a( class="external", href="http://backstage.soundcloud.com/2010/08/node-js-knockout-august-28th-29th/" ) Soundcloud participates in Node-knockout
			li: a( class="external", href="http://developer.yahoo.com/blogs/ydn/posts/2011/11/yahoo-announces-cocktails-%E2%80%93-shaken-not-stirred/" ) Yahoo! Manhattan


