section#preface.slide.intro
	h1 Peeeeyaahhhhhhhhh!
	a( href="http://upfront_deckshare.nodester.com" ) upfront_deckshare.nodester.com

section#howie-d.slide.media
	div.video
		iframe( width="100%", height="100%", src="http://www.youtube.com/embed/g1ycCFVKSg4?autoplay=1#t=20s", frameborder="0", allowfullscreen )

section#helloNode.slide.logo2
	h1 Hello, <br/> my name is...

section#helloNode-evented.slide
	blockquote	
		h2 Hello, my name is...
		h3 Evented Server
		ul
			li.slide Current version: 0.6.3 (stable)
			li.slide V8 implementation - fast!
			li.slide Node is nearly non-blocking through callbacks

section#helloNode-evented-example.slide
	blockquote
		h2 Callbacks
		article.slide
			script( src="https://gist.github.com/1413886.js?file=jquery-callback" )

		article.slide
			script( src="https://gist.github.com/1414059.js?file=file-list" )
			
section#helloNode-install.slide	
	blockquote
		h2 Hello, I make it easy to...
		ul
			li nvm now, thank yourself later ( ruby guys know whats up )
			li package files and how they make dependency easy
			li simple server example now what?
			ul.slide: li Modules

section#helloNode-module.slide
	blockquote
		h2 Modules
		article.slide
			script(	src="https://gist.github.com/1414127.js?file=module-example" )

section#tools-express.slide
	blockquote
		h2 Tools for success
		h3 Express yourself
		div#tools-express-features.slide
			ul.features
				li Robust routing
				li Redirection helpers
				li Dynamic view helpers
				li Content negotiation
				li Focus on high performance
				li View rendering and partials support
			ul.features
				li Environment based configuration
				li Session based flash notifications
				li Built on Connect
				li High test coverage
				li Executable for generating applications quickly
				li Application level view options

section#tools-express1.slide
	blockquote
		h2 Express Routes example
		script( src="https://gist.github.com/1414413.js?file=routes" )

section#tools-sockets.slide
	blockquote
		h2 Tools for success
		h3 Socket to me
		p.slide Real-time, two-way connection to the server-side
			

section#why.slide	
	h2 Why should I use node when I've got <language here>
	ul
		li Node: I'm so excited I think I just wet myself alittle.
		li Heavy data processing
		li Feed users processed data

section.slide
	:markdown
		> This is the first level of quoting.
		>
		> > This is nested blockquote.
		>
		> Back to the first level.

section#complete.slide
	h2 Useful Links
	article.serverside
		h3 Server-side
		ul
			li: a( class="external", href="https://github.com/joyent/node/wiki/Community" ) Node Community
			li: a( class="external", href="http://search.npmjs.org/" ) NPM (Node package manager)
			li: a( class="external", href="http://expressjs.com/") Express
			li: a( class="external", href="http://socket.io/" ) Socket.io
	article.serverside
		h3 Styling and presentation
		ul
			li: a( class="external", href="http://jade-lang.com/" ) Jade
			li: a( class="external", href="http://learnboost.github.com/stylus/" ) Stylus
			li: a( class="external", href="http://visionmedia.github.com/nib/" ) Nib
	article.thanks
		h3 Thanks
		ul
			li: a( class="extrnal", href="http://imakewebthings.github.com/deck.js", title="Modern HTML Presentations" ) Deck.js
			li: a( class="external", href="http://www.meetup.com/upfront/" ) UpFront
			li: a( class="external", href="http://www.dhs.com/" ) Riverpoint
			li: a( class="external", href="http://www.vml.com" ) VML
	


