#chat
	#nickname
		form.wrap#set-nickname
			p Please type in your nickname and press enter.
			input#nick( autocomplete="off" )
			p#nickname-err Nickname already in use
	#connecting
		.wrap Connecting to socket.io server
	#messages
		#nicknames
		#lines
	form#send-message
		input#message( autocomplete="off" )
		button.send Send
		button.cancel Cancel


#chatmenu
	a.toggle( href="#", title="Click here to ask a question" )
		img( src="/images/icon_chat.png", width=72, height=72 )