.csstransitions.csstransforms 
	.deck-container 
		overflow-y: hidden
		> .slide 
			transition: transform 500ms ease-in-out
		
	.deck-container:not(.deck-menu) 
		> .slide 
			position:absolute
			top:0
			left:0
			box-sizing: border-box
			width:100%
			padding:0 48px
			
			.slide 
				position:relative
				left:0
				top:0
				transition: transform 500ms ease-in-out, opacity 500ms ease-in-out
			
			.deck-next, .deck-after 
				visibility: visible
				transform: translate( 0, 1600px )
			
			.deck-before, .deck-previous 
				opacity: 0.4
			
		
		> .deck-previous 
			transform: translate( 0, -200%)
		
		> .deck-before 
			transform: translate( 0, -400%)
		
		> .deck-next 
			transform: translate( 0, 200%)
		
		> .deck-after 
			transform: translate( 0, 400%)
		
		> .deck-before, > .deck-previous 
			.slide 
				visibility:visible
			
		> .deck-child-current 
			transform: none
		
	.deck-prev-link 
		left:auto
		right:8px
		top:59px
		transform: rotate( 90deg )
	
	.deck-next-link 
		top:99px
		transform: rotate( 90deg )
	