!!!
html 
	head
		title=title
		meta( name="author", content="Russell Madsen" )
		meta( name="keywords", content="" )
		link( rel="stylesheet", type="text/css", href="/stylesheets/base.css" )
		script( src="/lib/modernizr.custom.js" )
		block scripts
		
	body( class="deck-container" )

		block content
			!= body	
		
		include chat
				
		#footer
			script( src="/socket.io/socket.io.js" )
			script( src="/lib/jquery-1.7.min.js" )
			script( src="/javascripts/swfobject.js" )
			script( src="/lib/deckjs/core/deck.core.js" )
			script( src="/javascripts/chat.js" )
			script( type="text/javascript" )
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-3121339-9']);
				_gaq.push(['_trackPageview']);

				( function() {
					var ga = document.createElement('script'); 
					ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; 
					s.parentNode.insertBefore(ga, s);
				})();
			block foot
				script( src="/lib/deckjs/extensions/hash/deck.hash.js" )
				script( src="/lib/deckjs/extensions/scale/deck.scale.js" )
				//- Specific to this page
				script( src="/javascripts/public.js" )
			