#chat,#nickname,#messages{z-index:9000;display:block}
#chat{display:none;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);position:absolute;border:1px solid #ccc;bottom:1%;left:auto;right:1%;width:30em;-webkit-transition-property:transform,-webkit-transform;-moz-transition-property:transform,-webkit-transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.8s,.4s,.4s;-moz-transition-duration:.8s,.4s,.4s;transition-duration:.8s,.4s,.4s;-webkit-transition-timing-function:linear;-moz-transition-timing-function:linear;transition-timing-function:linear;}
#chat.visible{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
#nickname,#connecting{position:absolute;height:100%;z-index:100;left:0;top:0;background:#fff;text-align:center;width:100%;font:15px Georgia;color:#666;display:block;}
#nickname .wrap,#connecting .wrap{padding-top:150px}
#nickname input{border:1px solid #ccc;padding:10px;}
#nickname input:focus{border-color:#999;outline:0}
#nickname #nickname-err{color:#8b0000;font-size:12px;visibility:hidden}
.connected #connecting{display:none}
.nickname-set #nickname{display:none}
#messages{height:380px;background:#eee;}
#messages em{text-shadow:0 1px 0 #fff;color:#999}
#messages p{padding:0;margin:0;font:12px Helvetica,Arial;padding:5px 10px;}
#messages p b{display:inline-block;padding-right:10px;font-weight:bold}
#messages p:nth-child(even){background:#fafafa}
#messages #nicknames{background:#ccc;padding:1% 1% 2%;font:.5em Helvetica,Arial;position:absolute;top:0;right:0;bottom:14%;left:70%;overflow-x:auto;}
#messages #nicknames::-webkit-scrollbar{width:6px;height:6px}
#messages #nicknames::-webkit-scrollbar-button:start:decrement,#messages #nicknames ::-webkit-scrollbar-button:end:increment{display:none;height:10px}
#messages #nicknames::-webkit-scrollbar-button:vertical:increment{background-color:#8ac147}
#messages #nicknames::-webkit-scrollbar-track-piece{background-color:#8ac147;-webkit-border-radius:3px}
#messages #nicknames::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#514c3c;-webkit-border-radius:3px}
#messages #nicknames::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#8ac147;-webkit-border-radius:3px}
#messages #nicknames span{color:#000;display:block;width:100%}
#messages #nicknames b{display:block;color:#333;padding:3px 6px;text-shadow:0 1px 0 #666;width:auto;}
#messages #nicknames b.me{cursor:pointer;color:#fff;background:#999;margin-right:5px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-shadow:0 1px 0 #666;}
#messages #nicknames b.me:focus{outline:0}
#messages #lines{height:100%;width:70%;color:#000;overflow:auto;overflow-x:hidden;overflow-y:auto;}
#messages #lines::-webkit-scrollbar{width:6px;height:6px}
#messages #lines::-webkit-scrollbar-button:start:decrement,#messages #lines ::-webkit-scrollbar-button:end:increment{display:block;height:10px}
#messages #lines::-webkit-scrollbar-button:vertical:increment{background-color:#8ac147}
#messages #lines::-webkit-scrollbar-track-piece{background-color:#8ac147;-webkit-border-radius:3px}
#messages #lines::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#514c3c;-webkit-border-radius:3px}
#messages #lines::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#8ac147;-webkit-border-radius:3px}
#send-message{background:#fff;position:relative;}
#send-message input{border:none;height:2em;padding:0 1%;line-height:30px;vertical-align:middle;width:72%;}
#send-message input:focus{outline:0}
#send-message button{position:absolute;top:0;height:2em;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #8ac147), color-stop(1, #8ac147));background:-webkit-linear-gradient(top, #8ac147 0%, #8ac147 100%);background:-moz-linear-gradient(top, #8ac147 0%, #8ac147 100%);background:linear-gradient(top, #8ac147 0%, #8ac147 100%);color:#fff;border:#333126;text-shadow:1px 1px 3px rgba(0,0,0,0.50);}
#send-message button.send{right:5em}
#send-message button.cancel{right:0}
button{margin:0;-webkit-user-select:none;-moz-user-select:none;user-select:none;display:inline-block;text-decoration:none;background:#43a1f7;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #377ad0));background:-webkit-linear-gradient(top, #43a1f7 0%, #377ad0 100%);background:-moz-linear-gradient(top, #43a1f7 0%, #377ad0 100%);background:linear-gradient(top, #43a1f7 0%, #377ad0 100%);border:1px solid #2e70c4;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;color:#fff;font-family:"lucida grande",sans-serif;font-size:11px;font-weight:normal;line-height:1;padding:3px 10px 5px 10px;text-align:center;text-shadow:0 -1px 1px #2d6dc0;}
button:hover,button.hover{background:darker;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #2e70c4));background:-webkit-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);background:-moz-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);background:linear-gradient(top, #43a1f7 0%, #2e70c4 100%);border:1px solid #2e70c4;cursor:pointer;text-shadow:0 -1px 1px #2c6bbb}
button:active,button.active{background:#2e70c4;border:1px solid #2e70c4;border-bottom:1px solid #2861aa;text-shadow:0 -1px 1px #2b67b5}
button:focus,button.focus{outline:none;-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.40),0 0 4px 0 #377ad0;-moz-box-shadow:0 1px 0 0 rgba(255,255,255,0.40),0 0 4px 0 #377ad0;box-shadow:0 1px 0 0 rgba(255,255,255,0.40),0 0 4px 0 #377ad0}
#chatmenu{position:absolute;bottom:0;right:0;z-index:200;}
#chatmenu .toggle{color:#fff;cursor:pointer;display:inline-block;position:relative;opacity:.4;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);text-decoration:none;-webkit-transition:opacity .4s linear;-moz-transition:opacity .4s linear;transition:opacity .4s linear;width:72px;height:72px;}
#chatmenu .toggle:hover{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
#chatmenu .toggle .count{position:absolute;top:0;left:0;font-size:.5em}
.deck-container .gist{color:#c3cc88;position:relative;font-size:.65em;}
.deck-container .gist div{padding:0;margin:0}
.deck-container .gist .gist-file{border:1px solid rgba(138,193,71,0.80);font-family:Monaco,'Andale Mono','Lucida Console','Bitstream Vera Sans Mono','Courier New',monospace,serif;margin-bottom:1em;}
.deck-container .gist .gist-file .gist-meta{overflow:hidden;font-size:85%;padding:.5em;color:#111;background-color:rgba(138,193,71,0.80);}
.deck-container .gist .gist-file .gist-meta a{color:#111;text-decoration:underline;}
.deck-container .gist .gist-file .gist-meta a:visited{color:#111}
.deck-container .gist .gist-file .gist-meta a[style]{color:transparent !important}
.deck-container .gist .gist-file .gist-data{overflow:auto;word-wrap:normal;background-color:#f8f8ff;border-bottom:1px solid #ddd;font-size:100%;}
.deck-container .gist .gist-file .gist-data pre{font-family:'Bitstream Vera Sans Mono','Courier',monospace;background:transparent !important;margin:0 !important;border:none !important;padding:.25em !important}
.deck-container .gist .gist-file .gist-data .gist-highlight{background:transparent !important;}
.deck-container .gist .gist-file .gist-data .gist-highlight pre{counter-reset:linenumbers;}
.deck-container .gist .gist-file .gist-data .gist-highlight pre div{padding:0 2em;}
.deck-container .gist .gist-file .gist-data .gist-highlight pre div:nth-child(odd){background-color:rgba(255,255,255,0.03)}
.deck-container .gist .gist-file .gist-data .gist-highlight pre div:before{background:rgba(255,255,255,0.03);border-right:1px solid rgba(138,193,71,0.25);color:rgba(138,193,71,0.50);content:counter(linenumbers);counter-increment:linenumbers;padding:0 .25em 0 .25em;position:absolute;left:0;text-align:right;width:1.4em}
.deck-container .gist .gist-file .gist-data .gist-line-numbers{background-color:#ececec;color:#aaa;border-right:1px solid #ddd;text-align:right;}
.deck-container .gist .gist-file .gist-data .gist-line-numbers span{clear:right;display:block}
.deck-container .gist .gist-file .gist-syntax{background:#353129;}
.deck-container .gist .gist-file .gist-syntax pre .c{color:#998;font-style:italic}
.deck-container .gist .gist-file .gist-syntax pre .err{color:#a61717;background-color:#e3d2d2;}
.deck-container .gist .gist-file .gist-syntax pre .k{color:#8ac147;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .o{color:#fff;font-weight:400;}
.deck-container .gist .gist-file .gist-syntax pre .cm{color:#998;font-style:italic;}
.deck-container .gist .gist-file .gist-syntax pre .cp{color:#999;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .c1{color:#998;font-style:italic;}
.deck-container .gist .gist-file .gist-syntax pre .cs{color:#999;font-weight:bold;font-style:italic;}
.deck-container .gist .gist-file .gist-syntax pre .gd{color:#000;background-color:#fdd;}
.deck-container .gist .gist-file .gist-syntax pre .gd .x{color:#000;background-color:#faa;}
.deck-container .gist .gist-file .gist-syntax pre .ge{color:#000;font-style:italic;}
.deck-container .gist .gist-file .gist-syntax pre .gr{color:#a00;}
.deck-container .gist .gist-file .gist-syntax pre .gh{color:#999;}
.deck-container .gist .gist-file .gist-syntax pre .gi{color:#000;background-color:#dfd;}
.deck-container .gist .gist-file .gist-syntax pre .gi .x{color:#000;background-color:#afa;}
.deck-container .gist .gist-file .gist-syntax pre .go{color:#888;}
.deck-container .gist .gist-file .gist-syntax pre .gp{color:#555;}
.deck-container .gist .gist-file .gist-syntax pre .gs{font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .gu{color:#aaa;}
.deck-container .gist .gist-file .gist-syntax pre .gt{color:#a00;}
.deck-container .gist .gist-file .gist-syntax pre .kc{color:#000;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .kd{color:#c3cc88;font-weight:400;font-style:italic;}
.deck-container .gist .gist-file .gist-syntax pre .kp{color:#000;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .kr{color:#000;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .kt{color:#458;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .m{color:#099;}
.deck-container .gist .gist-file .gist-syntax pre .s{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .na{color:#008080;}
.deck-container .gist .gist-file .gist-syntax pre .nb{color:#0086b3;}
.deck-container .gist .gist-file .gist-syntax pre .nc{color:#458;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .no{color:#008080;}
.deck-container .gist .gist-file .gist-syntax pre .ni{color:#800080;}
.deck-container .gist .gist-file .gist-syntax pre .ne{color:#900;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .nf{color:#900;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .nn{color:#555;}
.deck-container .gist .gist-file .gist-syntax pre .nt{color:#000080;}
.deck-container .gist .gist-file .gist-syntax pre .nv{color:#008080;}
.deck-container .gist .gist-file .gist-syntax pre .ow{color:#000;font-weight:bold;}
.deck-container .gist .gist-file .gist-syntax pre .w{color:#bbb;}
.deck-container .gist .gist-file .gist-syntax pre .mf{color:#099;}
.deck-container .gist .gist-file .gist-syntax pre .mh{color:#099;}
.deck-container .gist .gist-file .gist-syntax pre .mi{color:#099;}
.deck-container .gist .gist-file .gist-syntax pre .mo{color:#099;}
.deck-container .gist .gist-file .gist-syntax pre .sb{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .sc{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .sd{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .s2{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .se{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .sh{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .si{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .sx{color:#d14;}
.deck-container .gist .gist-file .gist-syntax pre .sr{color:#009926;}
.deck-container .gist .gist-file .gist-syntax pre .s1{color:#b9ccc5;}
.deck-container .gist .gist-file .gist-syntax pre .ss{color:#990073;}
.deck-container .gist .gist-file .gist-syntax pre .bp{color:#999;}
.deck-container .gist .gist-file .gist-syntax pre .vc{color:#008080;}
.deck-container .gist .gist-file .gist-syntax pre .vg{color:#008080;}
.deck-container .gist .gist-file .gist-syntax pre .vi{color:#008080;}
.deck-container .gist .gist-file .gist-syntax pre .il{color:#099;}
html{height:100%}
.deck-container{position:relative;height:100%;width:70%;margin:0 auto;padding:0 48px;font-size:16px;line-height:1.25;overflow:hidden;}
.js .deck-container{visibility:hidden}
.ready .deck-container{visibility:visible}
.touch .deck-container{-webkit-text-size-adjust:none}
.deck-container div,.deck-container span,.deck-container object,.deck-container iframe,.deck-container h1,.deck-container h2,.deck-container h3,.deck-container h4,.deck-container h5,.deck-container h6,.deck-container p,.deck-container blockquote,.deck-container pre,.deck-container abbr,.deck-container address,.deck-container cite,.deck-container code,.deck-container del,.deck-container dfn,.deck-container em,.deck-container img,.deck-container ins,.deck-container kbd,.deck-container q,.deck-container samp,.deck-container small,.deck-container strong,.deck-container sub,.deck-container sup,.deck-container var,.deck-container b,.deck-container i,.deck-container dl,.deck-container dt,.deck-container dd,.deck-container ol,.deck-container ul,.deck-container li,.deck-container fieldset,.deck-container form,.deck-container label,.deck-container legend,.deck-container table,.deck-container caption,.deck-container tbody,.deck-container tfoot,.deck-container thead,.deck-container tr,.deck-container th,.deck-container td,.deck-container article,.deck-container aside,.deck-container canvas,.deck-container details,.deck-container figcaption,.deck-container figure,.deck-container footer,.deck-container header,.deck-container hgroup,.deck-container menu,.deck-container nav,.deck-container section,.deck-container summary,.deck-container time,.deck-container mark,.deck-container audio,.deck-container video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
.deck-container article,.deck-container aside,.deck-container details,.deck-container figcaption,.deck-container figure,.deck-container footer,.deck-container header,.deck-container hgroup,.deck-container menu,.deck-container nav,.deck-container section{display:block}
.deck-container blockquote,.deck-container q{quotes:none;}
.deck-container blockquote:before,.deck-container q:before,.deck-container blockquote:after,.deck-container q:after{content:"";content:none}
.deck-container ins{background-color:#ff9;color:#000;text-decoration:none}
.deck-container mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
.deck-container del{text-decoration:line-through}
.deck-container abbr[title],.deck-container dfn[title]{border-bottom:1px dotted;cursor:help}
.deck-container table{border-collapse:collapse;border-spacing:0}
.deck-container hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
.deck-container input,.deck-container select{vertical-align:middle}
.deck-container select,.deck-container input,.deck-container textarea,.deck-container button{font:99% sans-serif}
.deck-container pre,.deck-container code,.deck-container kbd,.deck-container samp{font-family:monospace,sans-serif}
.deck-container a{-webkit-tap-highlight-color:rgba(0,0,0,0.00);}
.deck-container a:hover,.deck-container a:active{outline:none}
.deck-container ul,.deck-container ol{margin-left:2em;vertical-align:top}
.deck-container ol{list-style-type:decimal}
.deck-container nav ul,.deck-container nav li{margin:0;list-style:none;list-style-image:none}
.deck-container small{font-size:85%}
.deck-container strong,.deck-container th{font-weight:bold}
.deck-container td{vertical-align:top}
.deck-container sub,.deck-container sup{font-size:75%;line-height:0;position:relative}
.deck-container sup{top:-.5em}
.deck-container sub{bottom:-.25em}
.deck-container textarea{overflow:auto}
.ie6 .deck-container legend,.ie7 .deck-container legend{margin-left:-7px}
.deck-container input[type="radio"]{vertical-align:text-bottom}
.deck-container input[type="checkbox"]{vertical-align:bottom}
.ie7 .deck-container input[type="checkbox"]{vertical-align:baseline}
.ie6 .deck-container input{vertical-align:text-bottom}
.deck-container label,.deck-container input[type="button"],.deck-container input[type="submit"],.deck-container input[type="image"],.deck-container button{cursor:pointer}
.deck-container button,.deck-container input,.deck-container select,.deck-container textarea{margin:0}
.deck-container input:invalid,.deck-container textarea:invalid{-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-moz-box-shadow:0 0 5px #f00;-webkit-box-shadow:0 0 5px #f00;-webkit-box-shadow:0 0 5px #f00;-moz-box-shadow:0 0 5px #f00;box-shadow:0 0 5px #f00;}
.deck-container input:invalid .no-boxshadow,.deck-container textarea:invalid .no-boxshadow{background-color:#f0dddd}
.deck-container button{width:auto;overflow:visible}
.ie7 .deck-container img{-ms-interpolation-mode:bicubic}
.deck-container,.deck-container select,.deck-container input,.deck-container textarea{color:#444}
.deck-container a{color:#607890;}
.deck-container a:hover,.deck-container a:focus{color:#036}
.deck-container a:link{-webkit-tap-highlight-color:#fff}
.deck-container.deck-loading{display:none}
.slide{width:auto;min-height:100%;position:relative;}
.slide h1{font-size:4.5em}
.slide h1,.slide .vcenter{font-weight:bold;text-align:center;padding-top:1em;max-height:100%;}
.csstransforms .slide h1,.csstransforms .slide .vcenter{padding:0 48px;position:absolute;left:0;right:0;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);transform:translate(0,-50%)}
.slide .vcenter h1{position:relative;top:auto;padding:0;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;-webkit-transform:none;-moz-transform:none;transform:none}
.slide h2{font-size:2.25em;font-weight:bold;padding-top:.5em;margin:0 0 .66666em 0;border-bottom:3px solid #888}
.slide h3{font-size:1.4375em;font-weight:bold;margin-bottom:.30435em}
.slide h4{font-size:1.25em;font-weight:bold;margin-bottom:.25em}
.slide h5{font-size:1.125em;font-weight:bold;margin-bottom:.2222em}
.slide h6{font-size:1em;font-weight:bold}
.slide img,.slide iframe,.slide video{display:block;max-width:100%}
.slide video,.slide iframe,.slide img{display:block;margin:0 auto}
.slide p,.slide blockquote,.slide iframe,.slide img,.slide ul,.slide ol,.slide pre,.slide video{margin-bottom:1em}
.slide pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:1em;border:1px solid #888}
.slide em{font-style:italic}
.slide li{padding:.25em 0;vertical-align:middle}
.deck-before,.deck-previous,.deck-next,.deck-after{position:absolute;left:-999em;top:-999em}
.deck-current{z-index:2}
.slide .slide{visibility:hidden;position:static;min-height:0}
.deck-child-current{position:static;z-index:2;}
.deck-child-current .slide{visibility:hidden}
.deck-child-current .deck-previous,.deck-child-current .deck-before,.deck-child-current .deck-current{visibility:visible}
body.deck-container{overflow:visible}
@media print{*{background:transparent !important;color:#000 !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;-webkit-box-reflect:none !important;-moz-box-reflect:none !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important}
:before,:after{display:none !important}
a,a:visited{color:#444 !important;text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
.slide{position:static !important;visibility:visible !important;display:block !important;-webkit-transform:none !important;-moz-transform:none !important;-o-transform:none !important;-ms-transform:none !important;-webkit-transform:none !important;-moz-transform:none !important;transform:none !important;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
h1,.vcenter{-webkit-transform:none !important;-moz-transform:none !important;-o-transform:none !important;-ms-transform:none !important;-webkit-transform:none !important;-moz-transform:none !important;transform:none !important;padding:0 !important;position:static !important}
.deck-container > .slide{page-break-after:always}
.deck-container{width:100% !important;height:auto !important;padding:0 !important;display:block !important}
script{display:none}
}.deck-container .goto-form{position:absolute;z-index:3;bottom:10px;left:50%;height:1.75em;margin:0 0 0 -9.125em;line-height:1.75em;padding:.625em;display:none;background:#ccc;overflow:hidden;}
.borderradius .deck-container .goto-form{-webkit-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.deck-container .goto-form label{font-weight:bold}
.deck-container .goto-form label,.deck-container .goto-form input{display:inline-block;font-family:inherit}
.deck-goto .goto-form{display:block}
#goto-slide{width:8.375em;margin:0 .625em;height:1.4375em}
@media print{.goto-form,#goto-slide{display:none !important}
}.deck-container .deck-permalink{display:none;position:absolute;z-index:4;bottom:30px;right:0;width:48px;text-align:center}
.no-history .deck-container:hover .deck-permalink{display:block}
.deck-menu .slide{background:#eee;position:relative;left:0;top:0;visibility:visible;cursor:pointer}
.no-csstransforms .deck-menu > .slide{float:left;width:22%;height:22%;min-height:0;margin:1%;font-size:.22em;overflow:hidden;padding:0 .5%}
.csstransforms .deck-menu > .slide{-webkit-transform:scale(.22);-moz-transform:scale(.22);-o-transform:scale(.22);-ms-transform:scale(.22);-webkit-transform:scale(.22);-moz-transform:scale(.22);transform:scale(.22);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:100%;overflow:hidden;padding:0 48px;margin:12px}
.deck-menu iframe,.deck-menu img,.deck-menu video{max-width:100%}
.deck-menu .deck-current,.no-touch .deck-menu .slide:hover{background:#ddf}
.deck-menu.deck-container:hover .deck-prev-link,.deck-menu.deck-container:hover .deck-next-link{display:none}
mixin border-radius($r){-webkit-border-radius:$r;-moz-border-radius:$r;}
.deck-container .deck-prev-link,.deck-container .deck-next-link{display:none;position:absolute;z-index:3;top:50%;width:32px;height:32px;margin-top:-16px;font-size:20px;font-weight:bold;line-height:32px;vertical-align:middle;text-align:center;text-decoration:none;color:#fff;background:#888;}
.borderradius .deck-container .deck-prev-link,.borderradius .deck-container .deck-next-link{-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px}
.deck-container .deck-prev-link:hover,.deck-container .deck-next-link:hover,.deck-container .deck-prev-link:focus,.deck-container .deck-next-link:focus,.deck-container .deck-prev-link:active,.deck-container .deck-next-link:active,.deck-container .deck-prev-link:visited,.deck-container .deck-next-link:visited{color:#fff}
.deck-container .deck-prev-link{left:8px}
.deck-container .deck-next-link{right:8px}
.deck-container:hover .deck-prev-link,.deck-container:hover .deck-next-link{display:block;}
.deck-container:hover .deck-prev-link.deck-nav-disabled,.deck-container:hover .deck-next-link.deck-nav-disabled,.touch .deck-container:hover .deck-prev-link,.touch .deck-container:hover .deck-next-link{display:none}
@media print{.deck-prev-link,.deck-next-link{display:none !important}
}.csstransforms .deck-container.deck-scale{width:auto;-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-o-transform-origin:50% 0;-ms-transform-origin:50% 0;transform-origin:50% 0;}
.csstransforms .deck-container.deck-scale.deck-menu{width:70%;-webkit-transform:none !important;-moz-transform:none !important;-o-transform:none !important;-ms-transform:none !important;-webkit-transform:none !important;-moz-transform:none !important;transform:none !important}
.deck-container .deck-status{position:absolute;bottom:10px;right:5px;color:#888;z-index:3;margin:0}
body.deck-container .deck-status{position:fixed}
@media print{.deck-status{display:none}
}.deck-container{color:#fff;font-family:"Helvetica Neue",sans-serif;font-size:1.25em;background:-webkit-gradient(linear, left top, right top, color-stop(0.2, #524c3e), color-stop(0.9, #343128));background:-webkit-linear-gradient(left, #524c3e 20%, #343128 90%);background:-moz-linear-gradient(left, #524c3e 20%, #343128 90%);background:linear-gradient(left, #524c3e 20%, #343128 90%);}
.deck-container .slide{background:transparent;}
.deck-container .slide h1{color:#fff}
.deck-container .slide h2{color:#8ac147;border-bottom-color:#4e473c}
.deck-container .slide h3{color:#fff}
.deck-container .slide pre{background:rgba(255,255,255,0.90);border:.5em solid #353129}
.deck-container .slide code{color:#888}
.deck-container .slide blockquote{font-size:2em;}
.deck-container .slide blockquote p{margin:0}
.deck-container .slide blockquote cite{font-size:.5em;font-style:normal;font-weight:bold;color:#888}
.deck-container .slide ::-moz-selection{background:#8ac147;color:#fff}
.deck-container .slide ::selection{background:#8ac147;color:#fff}
.deck-container .slide a,.deck-container .slide a:hover,.deck-container .slide a:focus,.deck-container .slide a:active,.deck-container .slide a:visited{color:#8bc84b;text-decoration:none}
.deck-container .slide a:hover,.deck-container .slide a:focus{text-decoration:underline}
.deck-container .deck-prev-link,.deck-container .deck-next-link{background:#96967d;font-family:serif;}
.deck-container .deck-prev-link,.deck-container .deck-next-link,.deck-container .deck-prev-link:hover,.deck-container .deck-next-link:hover,.deck-container .deck-prev-link:focus,.deck-container .deck-next-link:focus,.deck-container .deck-prev-link:active,.deck-container .deck-next-link:active,.deck-container .deck-prev-link:visited,.deck-container .deck-next-link:visited{color:#fff}
.deck-container .deck-prev-link:hover,.deck-container .deck-next-link:hover,.deck-container .deck-prev-link:focus,.deck-container .deck-next-link:focus{background:#8ac147;color:#353129;text-decoration:none}
.deck-container .deck-status{font-size:.6666em}
.deck-container.deck-menu .slide{background:#eee}
.deck-container.deck-menu .deck-current,.no-touch .deck-container.deck-menu .slide:hover{background:#ddf}
.deck-container .goto-form{background:#96967d;-webkit-box-shadow:1px 1px 0 rgba(225,225,225,0.90),-1px -1px 0 rgba(0,0,0,0.70);-moz-box-shadow:1px 1px 0 rgba(225,225,225,0.90),-1px -1px 0 rgba(0,0,0,0.70);box-shadow:1px 1px 0 rgba(225,225,225,0.90),-1px -1px 0 rgba(0,0,0,0.70);}
.deck-container .goto-form label{text-transform:uppercase}
.deck-container .goto-form input{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.deck-container{font-size:2em;}
.deck-container > .slide{background-color:transparent;background-image:none;background-repeat:no-repeat;background-position:center center;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}
.deck-container > .slide h1{margin:25% 0 0 10%;line-height:.85em;font-size:3em;text-align:right;text-shadow:2px 2px 5px rgba(0,0,0,0.30)}
.deck-container > .slide h2{font-size:2.5em}
.deck-container > .slide > .video{display:none}
.deck-container > .slide.deck-current > .video{display:block}
.deck-container > .slide.intro{background-image:url("/images/nodejs-1280x1024.png")}
.deck-container > .slide.logo1{background-image:url("/images/nodejs-green-logo.png");background-color:#80be58;background-position:20% center;-webkit-background-size:initial;-moz-background-size:initial;background-size:initial;}
.deck-container > .slide.logo1 h1{margin-top:0;margin-left:30%}
.deck-container > .slide.logo2{background-image:url("/images/nodejs-green-logo.png");background-color:#80be58;background-position:80% center;-webkit-background-size:initial;-moz-background-size:initial;background-size:initial;}
.deck-container > .slide.logo2 h1{margin-top:0;margin-left:1em;margin-right:40%;text-align:left}
.deck-container > .slide#preface h1{margin-top:20%;left:auto;text-align:left}
.deck-container > .slide#preface a{text-shadow:2px 2px 5px rgba(0,0,0,0.30);font-size:2em;margin-top:25%;margin-left:10%;margin-right:5%;text-align:left;left:auto;position:absolute;right:0;top:50%}
.deck-container > .slide#complete{background-color:#80be58;background-image:url("/images/nodejs-green-logo.png");background-position:bottom center;-webkit-background-size:initial;-moz-background-size:initial;background-size:initial;}
.deck-container > .slide#complete h2{color:#fff;border-bottom-color:#3f413b;text-shadow:3px 3px 3px rgba(0,0,0,0.30)}
.deck-container > .slide#complete a{color:#fff;font-weight:700}
.deck-container > .slide#complete .features{width:30%}
.deck-container > .slide#tools h1{line-height:1em;font-size:3em;margin-left:57%;text-transform:uppercase;text-align:left}
.deck-container > .slide.on-slide-complete ::-moz-selection{background:#3f4138 !important;color:#fff !important}
.deck-container > .slide.on-slide-complete ::selection{background:#3f4138 !important;color:#fff !important}
.deck-container .features{float:left;font-size:.8em;display:block;width:40%}
.deck .video{display:none}
.deck-current .video{display:block}
.csstransitions.csstransforms .deck-container .slide{-webkit-transition-property:transform,-webkit-transform;-moz-transition-property:transform,-webkit-transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.8s,.4s,.4s;-moz-transition-duration:.8s,.4s,.4s;transition-duration:.8s,.4s,.4s;-webkit-transition-timing-function:linear;-moz-transition-timing-function:linear;transition-timing-function:linear}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide{position:absolute;top:0;left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding:0 48px;}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .slide{position:relative;left:0;top:0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transform:scale(.5,.5,.5);-moz-transform:scale(.5,.5,.5);transform:scale(.5,.5,.5)}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-before,.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-previous{opacity:.4;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);-webkit-transform:translate(-200%,0,-20%)}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .deck-current{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-webkit-transform:scale(1,1,1),translate(0,0,0);-webkit-transform:scale(1,1,1),translate(0,0,0);-moz-transform:scale(1,1,1),translate(0,0,0);transform:scale(1,1,1),translate(0,0,0)}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous,.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before,.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-next,.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-after{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transform:scale(.5,.5,.5),translate(200%,0,0);-webkit-transform:scale(.5,.5,.5),translate(200%,0,0);-moz-transform:scale(.5,.5,.5),translate(200%,0,0);transform:scale(.5,.5,.5),translate(200%,0,0);pointer-events:none}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before .slide,.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous .slide{visibility:visible}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);visibility:visible;pointer-events:auto;}
.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current .deck-next,.csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-child-current .deck-after{visibility:hidden}
