txtShadow()
	text-shadow: 2px 2px 5px rgba( 0,0,0, 0.3 )

.deck-container
	font-size: 2em
	> .slide
		background-color: transparent
		background-image: none
		background-repeat: no-repeat
		background-position: center center
		background-attachment: fixed
		background-size: cover
		h1
			margin: 25% 0 0 10%
			line-height: 0.85em
			font-size: 3em
			text-align: right
			txtShadow()
		h2
			font-size: 2.5em
		& > .video
			display: none
		&.deck-current > .video
			display: block
		&.intro
			background-image: url( '/images/nodejs-1280x1024.png' )
		&.logo1 
			background-image: url( '/images/nodejs-green-logo.png' )
			background-color: rgba( 128, 190, 88, 1 )
			background-position: 20% center
			background-size: initial
			h1
				margin-top: 0
				margin-left: 30%
		&.logo2
			background-image: url( '/images/nodejs-green-logo.png' )
			background-color: rgba( 128, 190, 88, 1 )
			background-position: 80% center
			background-size: initial
			h1
				margin-top: 0
				margin-left: 1em
				margin-right: 40%
				text-align: left
		&#preface
			h1
				margin-top: 20%
				left: auto
				text-align: left
			a
				txtShadow()
				font-size: 2em
				margin-top: 25%
				margin-left: 10%
				margin-right: 5%
				text-align: left
				left: auto
				position: absolute
				right: 0
				top: 50%
		&#complete
			background-color: rgba( 128, 190, 88, 1 ) 
			background-image: url( '/images/nodejs-green-logo.png' )
			background-position: bottom center
			background-size: initial
			h2
				color: #fff
				border-bottom-color: rgba( 63, 65, 59, 1 )
				text-shadow: 3px 3px 3px rgba( 0,0,0, 0.3 )
			a
				color: #fff
				font-weight: 700
			.features
				width: 30%
		&#tools
			h1 
				line-height: 1em
				font-size: 3em
				margin-left: 57%
				text-transform: uppercase
				text-align: left
		&.on-slide-complete
			::-moz-selection
				background: rgba( 63, 65, 56, 1 )!important
				color: #fff !important
			::selection
				background: rgba( 63, 65, 56,1 )!important
				color: #fff!important
	
	.features
		float: left
		font-size: .8em
		display: block
		width: 40%

.deck .video
	display: none
.deck-current .video
	display: block