/* SOLID & TRANSPARENT COLORS */
$rgba_green = rgba( 138, 193, 71, 1 )
$rgba_brown_dark = rgba( 53, 49, 41, 1.0 ) 
$rgba_brown_medium = rgba( 78, 71, 60, 1.0 )
$border_color = rgba( 150, 150, 125, 1.0 )


/* GRADIENTS */
gradient_brown()
	background: linear-gradient( left, 20% rgba( 82, 76, 62, 1 ), 90% rgba( 52, 49, 40, 1 ) )